<app-navbar></app-navbar>

<div class="w-[100%]">
  <div class="flex justify-betweeen gap-4 w-[100%]">
    <div class="w-[70%] ml-2">
      <div class="mt-4">
        <div class="flex justify-between mb-3">
          <h1 class="text-center text-2xl font-semibold">My Projects</h1>
          <div>
            <button
              class="bg-green-500 text-white px-4 py-2 rounded-lg"
              id="createProject"
              routerLink="/create-project"
            >
              Create a Project
            </button>
          </div>
        </div>

        <div class="flex gap-2 flex-wrap items-stretch ">
          <div class="w-[22vw] shadow bg-gray-200 rounded " *ngFor="let project of projects">
            <div class="p-2 ">
              <div class="card " data-id="${project.project_id}">
                <div class="card-body flex flex-col justify-between items-center h-[40vh]">
                  <div class="card-title text-center text-lg font-normal mb-3">
                    <b>{{ project.project_name | uppercase }}</b>
                  </div>
                  <div class="card-text text-center">
                    <span class="text-center">{{
                      project.project_description
                    }}</span>
                  </div>
                  <div class="card-text text-center">
                    <span class="text-center">
                      Due by:
                      {{ project.dueDate | date : "mediumDate" }}</span
                    >
                  </div>
                  <div class="card-text text-center rounded-full p-2" [class]="getStatusColorClass(project.project_status)">
                    <span class="text-center" >
                      Status : {{ project.project_status }}
                    </span>
                  </div>

                  <div class="flex justify-center gap-4 w-full mt-4">
                    <ion-icon
                      class="border-2 border-green-500 rounded-full p-2"
                      name="create-outline"
                      (click)="editProject(project.project_id)"
                    ></ion-icon>
                    <ion-icon
                      class="border-2 border-red-500 rounded-full p-2"
                      data-id="${project.project_id}"
                      (click)="deleteProject(project.project_id)"
                      name="trash-outline"
                    ></ion-icon>
                  </div>

                  <div class="flex gap-4 w-full mt-4">
                    <select
                      class="form-select bg-gray-500 rounded-full p-2 m-2 text-center text-white"
                      id="select_user_${project.project_id}"
                      aria-label="Default select example"
                      style="flex-grow: 1"
                      data-id="{{ project.project_id }}"
                      (change)="handleUserSelection($event, project.project_id)"
                    >
                      <option selected>assign user</option>
                      <option
                        *ngFor="let user of unassignedUsers"
                        [value]="user._id"
                      >
                        {{ user.username }}
                      </option>
                    </select>

                    <button
                      class="btn bg-blue-500 rounded-full p-2 m-2"
                      id="unassignButton"
                      data-id="${project.project_id}"
                      style="flex-grow: 1"
                      (click)="handleUnassign(project.project_id)"
                    >
                      Unassign
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="w-[22%]">
      <div class="card mt-3">
        <div class="card-body">
          <h5 class="card-title">List of Users</h5>
          <div class="card-text userlist-content">
            <div
              class="card shadow mb-2 p-2 max-w-sm bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-700 dark:border-gray-700 dark:hover:bg-gray-700"
              *ngFor="let user of users; let i = index"
              [attr.data-id]="user.user_id"
            >
              <h1
                class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
              >
                {{ user.username }}
              </h1>
              <p class="mb-2 tracking-tight text-gray-900 dark:text-white">
                {{ user.email }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
