<app-navbar></app-navbar>

<div class="w-[100%]">
  <div class="flex justify-betweeen gap-4 w-[100%]">
    <div class="w-[70%]">
      <div class="mt-4">
        <div class="flex justify-between mb-3">
          <h1 class="text-center text-2xl font-semibold">My Projects</h1>
          <div>
            <button
              class="bg-green-500 text-white px-4 py-2"
              id="createProject"
            >
              Create a Project
            </button>
          </div>
        </div>

        <div class="flex gap-2 flex-wrap items-stretch">
          <div class="w-[22vw]" *ngFor="let project of projects">
            <div
              class="bg-white shadow features-card"
              [attr.data-id]="project.project_id"
            >
              <div class="p-2">
                <div class="card features-card" data-id="${project.project_id}">
                  <div class="card-body flex flex-col items-center">
                    <div
                      class="card-title text-center text-lg font-normal mb-3"
                    >
                      <b>{{ project.project_name | uppercase}}</b>
                    </div>
                    <div class="card-text text-center">
                      <span class="text-center">{{
                        project.project_description
                      }}</span>
                    </div>
                    <div class="card-text text-center">
                      <span class="text-center">
                        Due by: {{ project.dueDate | date : "mediumDate" }}</span
                      >
                    </div>
                    <div class="card-text text-center">
                      <span class="text-center">
                        Status : {{ project.project_status }}
                      </span>
                    </div>

                    <div class="flex justify-center gap-4 w-full mt-4">
                      <ion-icon
                        class="border-2 border-green-500 rounded-full p-2"
                        name="create-outline"
                        data-id="${project.project_id}"
                      ></ion-icon>
                      <ion-icon
                        class="border-2 border-red-500 rounded-full p-2"
                        data-id="${project.project_id}"
                        (click)="deleteProject(project.project_id)"
                        name="trash-outline"
                      ></ion-icon>
                    </div>

                    <div class="flex gap-4 w-full mt-4">
                      <select
                        class="form-select btn btn-info"
                        id="select_user_${project.project_id}"
                        aria-label="Default select example"
                        style="flex-grow: 1"
                        data-id="${project.project_id}"
                        onchange="handleUserSelection(this)"
                      >
                        <option selected>assign user</option>
                      </select>

                      <button
                        class="btn btn-warning unassign-button"
                        id="unassignButton"
                        data-id="${project.project_id}"
                        style="flex-grow: 1"
                        onclick="handleUnassign(this)"
                      >
                        Unassign
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="w-[22%]">
      <div class="card mt-3">
        <div class="card-body">
          <h5 class="card-title">List of Users</h5>
          <div class=" card-text userlist-content ">
            <div
              class="user-card card shadow mb-2 max-w-sm p-2 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
              *ngFor="let user of users"
              [attr.data-id]="user.user_id"
            >
              <h1 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ user.username }}</h1>
              <h1 class="mb-2  font-bold tracking-tight text-gray-900 dark:text-white">{{ user.email }}</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
