<app-navbar></app-navbar>

<main class="container mx-auto py-8">
  <h2 class="text-2xl font-semibold mb-4">Your Assigned Project</h2>
  <div
    class="bg-white rounded-lg shadow-lg p-8"
    style="
      height: 80vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
    "
  >
    <h5 class="text-4xl font-semibold">name{{ projectData.project_name }}</h5>
    <p class="text-2xl">{{ projectData.project_description }}</p>
    <p class="text-sm">Due Date: {{ projectData.dueDate | date }}</p>
    <p class="text-sm">Status: {{ projectData.project_status }}</p>
    <div class="flex flex-row justify-center space-x-4">
      <button
        class="bg-yellow-500 text-white py-2 px-4"
        (click)="(markInProgress)"
      >
        In Progress
      </button>
      <div class="input-group-prepend">
        <div class="input-group-text bg-green-500">
          <label for="completeCheckbox" class="ml-2">Complete</label>
          <input
            id="completeCheckbox"
            type="checkbox"
            aria-label="Checkbox for following text input"
            [disabled]="projectData.project_status === 'Complete'"
            (change)="markComplete()"
          />
        </div>
      </div>
    </div>
  </div>
</main>
